.input_field {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
}

.btn {
    padding: 1rem 3rem;
    margin: 0 1rem;
}

label {
    color: red;
}

.btn {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.btn:hover {
    color: black;
    background-color: transparent;
}