* {
    margin: 0;
}


/* .app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn {
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin: auto;
} */

a {
    margin: 0 1rem;
    font-size: 2rem;
}

.active {
    color: green;
    text-decoration: none;
}